<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="left_style">
            <div class="menu_style">
                <div class="user_title">用户中心</div>
                <div class="user_Head">
                    <div class="user_portrait">
                        <a href="#" title="修改头像" class="btn_link"></a> <img src="images/people.png">
                        <div class="background_img"></div>
                    </div>
                    <div class="user_name">
                        <!--TODO I1 点击忘记密码发送请求跳转到页面-->
                        <p><span class="name" id="welcome_div2"></span><a href="/ForgetPasswordController/toForgetPasswordPage">[修改密码]</a></p>
                        <p>访问时间：2016-1-21 10:23</p>
                    </div>
                </div>
                <div class="sideMen">
                    <!--菜单列表图层-->
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_1"></em>订单中心</dt>
                        <dd>
                            <ul>
                                <li> <a href="javascript:void(0)" th:onclick="myOrder()"> 我的订单</a></li>
                                <li> <a href="CheShiController/address">收货地址</a></li>
                                <!--<li> <a href="user.php?act=booking_list"> 缺货登记</a></li>-->
                            </ul>
                        </dd>
                    </dl>
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_2"></em>会员中心</dt>
                        <dd>
                            <ul>
                                <li> <a href="CheShiController/userPersonalinfo"> 用户信息</a></li>
                                <li> <a href="User_Collect.html"> 我的收藏</a></li>
                                <li> <a href="user.php?act=message_list"> 我的留言</a></li>
                                <li> <a href="user.php?act=tag_list">我的标签</a></li>
                                <li> <a href="user.php?act=affiliate"> 我的推荐</a></li>
                                <li><a href="user.php?act=comment_list"> 我的评论</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_3"></em>账户中心</dt>
                        <dd>
                            <ul>
                                <li> <a href="user.php?act=bonus">我的红包</a></li>
                                <li><a href="user.php?act=group_buy">我的团购</a></li>
                                <li> <a href="user.php?act=track_packages"> 跟踪包裹</a></li>
                                <li> <a href="user.php?act=account_log"> 资金管理</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_4"></em>代销中心</dt>
                        <dd>
                            <ul>
                                <!--TODO F1 点击申请代销触发点击事件-->
                                <li> <a href="javascript:void(0)" onclick="admin_edit('申请代销','PurchaseOrderController/applyForSell','1','800','700')">申请代销</a></li>
                                <!--TODO H1 点击“我的代销申请”触发事件发送请求给controller-->
                                <li> <a href="javascript:void(0)" onclick="admin_edit2('我的申请代销','PurchaseOrderController/myApplyForSell','1','1200','500')">我的申请代销</a></li>
                                <!--TODO J1 点击“我的采购单”触发事件发送请求给controller-->
                                <li> <a href="javascript:void(0)" onclick="admin_edit3('我的采购单','PurchaseOrderController/myPurchaseOrders','1','1200','700')">我的采购单</a></li>
                              <!-- <li> <a href="user.php?act=myaccount"> 我的佣金</a></li>
                                <li> <a href="user.php?act=account_raply">申请提现</a></li>-->
                            </ul>
                        </dd>
                    </dl>
                </div>
                <script>jQuery(".sideMen").slide({titCell:"dt", targetCell:"dd",trigger:"click",defaultIndex:0,effect:"slideDown",delayTime:300,returnDefault:true});</script>
            </div>
        </div>
</body>
<script>

    //TODO F2 发请求到 F3 弹出画好的页面
    //申请代销的
    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    //查看我的代销申请的
    function admin_edit2(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    //查看我的采购订单的
    function admin_edit3(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    //页面加载时触发
    $(function () {
        $.ajax({
            url: "frontUserController/isLogin",
            success: function (date) {
                if(date.result==true){
                    //已经登录，拿到用户信息放入页面
                    document.getElementById("welcome_div2").innerHTML=date.resultDate.username;
                }else {
                    document.getElementById("welcome_div2").innerHTML="你好，请登录。";
                }
            }
        })
    })

    function myOrder() {
        $.ajax({
            url: "frontUserController/isLogin",
            success: function (date) {
                if(date.result==true){
                    //已经登录，拿到用户id
                    var id = date.resultDate.id;
                    location.href = "orderController/selectUserOrder?id=" + id;
                }else {
                    //获得当前页面url
                    var returnUrl = location.href;
                    //编码url
                    returnUrl = encodeURIComponent(returnUrl);
                    location.href = "CheShiController/login?returnUrl=" + returnUrl;
                }
            }
        })
    }
</script>
</html>